/*Overall Styling*/
* {
    font-family: 'Inconsolata', monospace;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Raleway';
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: url(../image/back1.gif);
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}


.btn-primary {
    background-color: #1D809F !important;
    border-color: #1D809F !important;
    color: #fff !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #155d74 !important;
    border-color: #155d74 !important;
}

.btn-secondary {
    background-color: #ecb807 !important;
    border-color: #ecb807 !important;
    color: #fff !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #ba9106 !important;
    border-color: #ba9106 !important;
}

.btn-dark {
    color: #fff !important;
}

.btn {
    -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    font-weight: 700;
}

.marginXLheading {
    margin-top: 15vh;
}

.down {
    height: 55px;
    margin-top: 25px;
    animation: opaque 5s infinite;
}

@keyframes opaque {
    0% {
        opacity: .2
    }

    50% {
        opacity: .8
    }

    100% {
        opacity: .2
    }
}

/*=================Preloader=====================*/
#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#status {
    background-image: url("../image/3D Yin-yang.gif");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
}

/*Navbar Styling*/
.navbar .active {
    color: #222f3e !important;
    background-color: #ff4757 !important;
}

.navbar .active .fa-mask,
.navbar .active .fa-gratipay,
.navbar .active .fa-crosshairs,
.navbar .active .fa-hamsa,
.navbar .active .fa-id-card-alt {
    color: #222f3e;
}

.navbar a {
    color: #dcdde1;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-radius: 5px;
}

.navbar li {
    padding: 0 15px
}

.navbar {
    background-color: rgba(24, 24, 32, 0.85);
}

.fa-get-pocket {
    -webkit-animation: color-change 3s infinite;
    animation: color-change 10s infinite;
}

@-webkit-keyframes color-change {
    0% {
        color: #ecf0f1;
    }

    25% {
        color: #3498db;
    }

    50% {
        color: #f9ca24;
    }

    75% {
        color: #e84118;
    }

    100% {
        color: #dff9fb;
    }
}

@keyframes color-change {
    0% {
        color: #ecf0f1;
    }

    25% {
        color: #3498db;
    }

    50% {
        color: #f9ca24;
    }

    75% {
        color: #e84118;
    }

    100% {
        color: #dff9fb;
    }
}

.fa-mask,
.fa-gratipay,
.fa-crosshairs,
.fa-hamsa,
.fa-id-card-alt,
.fa-user-md {
    margin-right: 10px;
    color: #d7e3ed;
}


/*=================Homepage=====================*/

.home-text {
    padding: 100px;
}

h1 {
    font-size: 75px;
    font-family: 'Josefin Sans', sans-serif;
    color: #a4b0be;
    font-weight: 900;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

h3 {
    font-size: 55px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: #7f8fa6;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

h4 {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
}


/*==========About==========*/

.intro {
    font-size: 18px;
    letter-spacing: 2px;
}

.fa-facebook-square,
.fa-github-square,
.fa-linkedin,
.fa-twitter-square {
    font-size: 50px;
    margin: 10px 25px;
}

.fa-facebook-square {
    color: #3b5998;
}

.fa-github-square {
    color: #f5f5f5;
}

.fa-linkedin {
    color: #0077b5;
}

.fa-twitter-square {
    color: #1da1f2;
}

.fa-facebook-square:hover,
.fa-envelope-square:hover,
.fa-linkedin:hover,
.fa-twitter-square:hover {
    color: #f1c40f;
}

/*===============Interest===================*/

#interest p {
    font-size: 18px;
    letter-spacing: 2px;
}

.fa-map-marker {
    margin-right: 10px;
    -webkit-animation: color-change 10s infinite;
    animation: color-change 10s infinite;
}

/*===============Technical Skills================*/

#technical-skills span {
    font-size: 70px;
}

.service-icon {
    background-color: #fff;
    color: #1D809F;
    height: 110px;
    width: 110px;
    display: block;
    line-height: 120px;
    -webkit-animation: border-change 4s infinite;
    animation: border-change 4s infinite;
}


@-webkit-keyframes border-change {
    0% {
        -webkit-box-shadow: 10px 10px 23px 6px rgba(52, 73, 94, .5);
        box-shadow: 10px 10px 23px 6px rgba(52, 73, 94, .5);
    }

    25% {
        -webkit-box-shadow: 8px -10px 36px 6px rgba(52, 73, 94, .5);
        box-shadow: 8px -10px 36px 6px rgba(52, 73, 94, .5);
    }

    50% {
        -webkit-box-shadow: -21px -10px 36px 6px rgba(52, 73, 94, .5);
        box-shadow: -21px -10px 36px 6px rgba(52, 73, 94, .5);
    }

    75% {
        -webkit-box-shadow: -10px 20px 36px 6px rgba(52, 73, 94, .5);
        box-shadow: -10px 20px 36px 6px rgba(52, 73, 94, .5);
    }

    100% {
        -webkit-box-shadow: 10px 10px 23px 6px rgba(52, 73, 94, .5);
        box-shadow: 10px 10px 23px 6px rgba(52, 73, 94, .5);
    }
}


@keyframes border-change {
    0% {
        -webkit-box-shadow: 10px 10px 23px 6px rgba(52, 73, 94, .5);
        box-shadow: 10px 10px 23px 6px rgba(52, 73, 94, .5);
    }

    25% {
        -webkit-box-shadow: 8px -10px 36px 6px rgba(52, 73, 94, .5);
        box-shadow: 8px -10px 36px 6px rgba(52, 73, 94, .5);
    }

    50% {
        -webkit-box-shadow: -21px -10px 36px 6px rgba(52, 73, 94, .5);
        box-shadow: -21px -10px 36px 6px rgba(52, 73, 94, .5);
    }

    75% {
        -webkit-box-shadow: -10px 20px 36px 6px rgba(52, 73, 94, .5);
        box-shadow: -10px 20px 36px 6px rgba(52, 73, 94, .5);
    }

    100% {
        -webkit-box-shadow: 10px 10px 23px 6px rgba(52, 73, 94, .5);
        box-shadow: 10px 10px 23px 6px rgba(52, 73, 94, .5);
    }
}

/*=================Projects===================*/
.card {
    margin-bottom: 20px;
    background-color: rgba(52, 73, 94, 0.5);
    -webkit-box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 22px 5px rgba(0, 0, 0, 0.7);
}

.card img {
    height: 200px;
    -o-object-fit: cover;
    object-fit: cover;
}

.card-body {
    color: white;
    /*    height: 140px;*/
    height: 100px;
}

.card-body h5 {
    font-size: 28px;
    font-weight: 600;
    text-shadow: -1px -1px 1px rgba(52, 73, 94, .1), 1px 1px 1px rgba(0, 0, 0, .5);
    /*    comment out if needed*/
    margin-top: -70px;
    margin-bottom: 40px;
}

.card-body p {
    font-size: 14px;
    letter-spacing: .5px;
}

.card a {
    text-decoration: none;
}

/*===============Contact================*/

#contact {
    padding: 25px 10px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#contact p {
    font-size: 20px;
}

#contact form .form-control {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 24px;
}

#contact form textarea.form-control {
    min-height: 164px;
}

#name {
    -webkit-animation: wrong-input 2s infinite;
    animation: wrong-input 2s infinite;
}

#form-subheading {
    color: #dcdcdc;
}

@-webkit-keyframes wrong {
    0% {
        background-color: rgba(192, 57, 43, 0.75);
    }

    66% {
        background-color: rgba(242, 40, 125, 0.75);
    }

    100% {
        background-color: rgba(192, 57, 43, 0.75);
    }
}


@keyframes wrong {
    0% {
        background-color: rgba(192, 57, 43, 0.75);
    }

    66% {
        background-color: rgba(242, 40, 125, 0.75);
    }

    100% {
        background-color: rgba(192, 57, 43, 0.75);
    }
}

/*=========Top Button===========*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 32px;
    cursor: pointer;
    background-color: rgba(52, 73, 94, 0.27);
    border: 2px rgba(52, 73, 94, 0.27);
    border-radius: 5px;
}

#myBtn:hover {
    background-color: white;
}

.fa-chevron-circle-up {
    color: #d63031;
}

/*=================Footer===================*/

footer {
    background-color: #181820;
    color: white;
    font-size: 15px;
}

/*=============Animation===========*/
#home-page {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
}

/*================Media Query==============*/
@media (max-width: 992px) {
    h1 {
        font-size: 65px;
    }

    h3 {
        font-size: 40px;
    }

    #form-subheading {
        display: none;
    }

    .send-message {
        text-align: center;
    }

}

@media only screen and (max-width: 600px) {
    .image-heading {
        margin-top: 30px;
        font-size: 22px;
    }

    .image-text {
        padding: 5px 15px;
        font-size: 14px;
    }

}

@media only screen and (max-width: 450px) {
    .image-heading {
        margin-top: 30px;
        font-size: 16px;
    }

    .image-text {
        padding: 0px 15px;
        font-size: 8px;
    }

}

/*========================================*/
